<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	</head>
	<body class="is-preload">

	<div id="wrapper">
		<section id="main" class="wrapper">
			<div class="inner">

			<h1 class="major">Chicago Realtime Accident Prediction Map</h1>
			<div>
				<h3 class="major">Realtime Crash Prediction Heatmap</h3>
				<p></p>
				<p>This heatmap shows crash probability in the next 15 minutes along each road segment. </p>

				<iframe src="{{ url_for('plot_heatmap') }}" name="iframe_a" style="height:680px;width:1300px;border: 2px steelblue solid;padding: 15px;margin: 15px"></iframe>
			</div>
				
			<div>
				<h3 class="major">Route Planning Map</h3>
				<p></p>
				<p>To use the map, please select your origin and destination. </br>
					Your inputs will trigger an API call to Google Map's API, 
					which will recommend one or more driving routes. We also collect realtime 
					Chicago traffic congestion and weather data via API calls. These information will 
					be fed to our predictive model, which will output the crash probability along each route.</br>
					Route color indicates safety, from green as safe to red as dangerous. We recommend the safest route with wider stroke. </p>

				<iframe src="{{ url_for('route_plan') }}" name="iframe_a" style="height:680px;width:1300px;border: 2px steelblue solid;padding: 15px;margin: 15px"></iframe>
			</div>
		</section>
	</div>
		
	</body>
</html>
